<button class="btn btn-default navbar-btn" title="Previous" {{action "previous"}}>
  <i class="fa fa-step-backward"></i>
</button>

<button title="Play" {{action "play"}} class="btn btn-default navbar-btn {{if isPlayVisible '' 'hidden'}}">
  <i class="fa fa-play"></i>
</button>

<button title="Pause" {{action "pause"}} class="btn btn-default navbar-btn {{if isPauseVisible '' 'hidden'}}">
  <i class="fa fa-pause"></i>
</button>

<button class="btn btn-default navbar-btn" title="Stop" {{action "stop"}}>
  <i class="fa fa-stop"></i>
</button>

<button class="btn btn-default navbar-btn" title="Next" {{action "next"}}>
  <i class="fa fa-step-forward"></i>
</button>
