<tr class={{concat (if this.isCurrent "table-success") " " (if this.isSelected "table-primary")}} {{on "click" this.select}}>
  <td>{{@entry.track.track_no}}</td>
  <td>{{@entry.track.name}}</td>
  <td>{{@entry.track.artists.0.name}}</td>
  <td>{{@entry.track.album.name}}</td>
</tr>
