<div class="row">
  <div class="col">
    <Input @id="search" @value={{this.query}} class="form-control" placeholder="Your query..." {{on "keydown" this.search}} />
  </div>
</div>

<div class="row mt-4">
  <div class="col-3">
    <div class="card">
      <h5 class="card-header">Artists</h5>
      <ul class="list-group list-group-flush">
        {{#each this.artists as |artist|}}
          <li class="list-group-item"><LinkTo @route="entries" @model={{artist.uri}} >{{artist.name}}</LinkTo></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <h5 class="card-header">Albums</h5>
      <ul class="list-group list-group-flush">
        {{#each this.albums as |album|}}
          <li class="list-group-item"><LinkTo @route="entries" @model={{album.uri}} >{{album.artists.0.name}} - {{album.name}}</LinkTo></li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <h5 class="card-header">Tracks</h5>
      <ul class="list-group list-group-flush">
        {{#each this.tracks as |track|}}
          <li class="list-group-item"><LinkTo @route="entries" @model={{track.uri}} >{{track.artists.0.name}} - {{track.album.name}} - {{track.name}}</LinkTo></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
