{{#each this.albums as |tracks|}}
  <div class="row my-2">
    <div class="col">
      <div class="card">
        <h5 class="card-header">
          <LinkTo @route="entries" @model={{tracks.0.artists.0.uri}}>{{artist-names tracks.0.artists}}</LinkTo> - <LinkTo @route="entries" @model={{tracks.0.album.uri}}>{{tracks.0.album.date}} - {{tracks.0.album.name}}</LinkTo>
          <button class="btn btn-outline-primary btn-sm" {{on "click" (fn this.addToQueue tracks.0.album)}}>Add album to queue</button>
        </h5>

        <table class="table table-sm mb-0">
          <tbody>
            {{#each tracks as |track|}}
              <tr>
                <td class="col-1 text-center">{{track.track_no}}</td>
                <td class="col-4">{{track.name}}</td>
                <td class="col-7"><button class="btn btn-outline-primary btn-sm" {{on "click" (fn this.addToQueue track)}}>Add track to queue</button></td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{{/each}}
