{{#each albums as |album|}}
  <div class="panel panel-default">
    <div class="panel-heading">
      {{#link-to "albums" album.0.album.uri}} {{album.0.artists.0.name}} - {{album.0.album.name}} - {{album.0.date}}{{/link-to}}
      <button class="btn btn-default btn-sm" {{action "add" album.0.album.uri}}>Add to queue</button>
    </div>
    <table class="table table-condensed">
      <tbody>
        {{#each album as |track|}}
          <tr>
            <td class="center col-md-1">{{track.track_no}}</td>
            <td class="col-md-4">{{track.name}}</td>
            <td class="col-md-7"><button class="btn btn-default btn-xs" {{action "add" track.uri}}>Add to queue</button></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/each}}
