<h3>
  {{model.0.artists.0.name}} - {{model.0.date}} - {{model.0.album.name}}
  <button class="btn btn-default" {{action "add" model.0.album.uri}}>Add to queue</button>
</h3>

<table class="table table-bordered table-condensed">
  <thead>
    <tr class="active">
      <td class="center">#</td>
      <td>Name</td>
    </tr>
  </thead>
  <tbody>
    {{#each track in model}}
      <tr>
        <td class="center">{{track.track_no}}</td>
        <td>{{track.name}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
