<h3>{{model.0.artists.0.name}}</h3>
<table class="table table-bordered table-condensed">
  <thead>
    <tr class="active">
      <td class="center">#</td>
      <td>Name</td>
      <td>Album</td>
      <td>Date</td>
    </tr>
  </thead>
  <tbody>
    {{#each track in model}}
      <tr>
        <td class="center">{{track.track_no}}</td>
        <td>{{track.name}}</td>
        <td>{{#link-to "album" track.album.uri}}{{track.album.name}}{{/link-to}}</td>
        <td>{{track.date}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
