{{add-uri}}
{{consume-mode}}
{{single-mode}}
{{repeat-mode}}
{{random-mode}}
{{queue-table tracks=model selectedTrackIds=selectedTrackIds currentTrack=currentTrack selectTrack="selectTrack" playTrack="playTrack" action="removeSelectedTracks"}}
<div class="text-muted">
  Change track with double click. Select multiple tracks with Ctrl or Shift. Delete selected tracks by pressing Del.
</div>
