{{add-uri}}
{{consume-mode}}
{{single-mode}}
{{repeat-mode}}
{{random-mode}}
{{view "queue/table"}}
<div class="text-muted">
  Change track with double click. Select multiple tracks with Ctrl or Shift. Delete selected tracks by pressing Del.
</div>
