{{#if errorMessage}}
  <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<form class="form-inline" {{action "search" on="submit"}}>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    {{focus-input value=query class="form-control" required=true}}
  </div>
  <button type="submit" class="btn btn-default" disabled={{isSearching}}>
    Search <i class="fa fa-spinner fa-spin {{if isSearching '' 'hidden'}}"></i>
  </button>
</form>

<ul class="nav nav-pills gap">
  {{#each sourceTypes as |type|}}
    {{search-source-type sourceType=type selectedSourceType=sourceType action="filterBy"}}
  {{/each}}
</ul>

<div class="row gap">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Artists</div>
      <ul class="list-group">
        {{#each artists as |artist|}}
          <li class="list-group-item">{{#link-to "albums" artist.uri}}{{artist.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Albums</div>
      <ul class="list-group">
        {{#each albums as |album|}}
          <li class="list-group-item">{{#link-to "albums" album.uri}}{{album.artists.0.name}} - {{album.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Tracks</div>
      <ul class="list-group">
        {{#each tracks as |track|}}
          <li class="list-group-item">{{#link-to "albums" track.uri}}{{track.artists.0.name}} - {{track.album.name}} - {{track.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
