{{#if errorMessage}}
  <div class="alert alert-danger">{{errorMessage}}</div>
{{/if}}

<div class="search-bar">
  {{focus-input value=query placeholder='Search...' class="form-control" keyPressAction="search"}}
  <span class="glyphicon glyphicon-refresh {{if isSearching 'searching' ''}}"></span>
</div>

<ul class="nav nav-pills gap">
  {{#each sourceTypes as |type|}}
    {{search-source-type sourceType=type selectedSourceType=sourceType action="filterBy"}}
  {{/each}}
</ul>

<div class="row gap">
  <div class="col-md-2">
    <div class="panel panel-default">
      <div class="panel-heading">Artists</div>
      <ul class="list-group">
        {{#each artists as |artist|}}
          <li class="list-group-item">{{#link-to "albums" artist.uri}}{{artist.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    {{ in-view action="loadMore" }}
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">Albums</div>
      <ul class="list-group">
        {{#each albums as |album|}}
          <li class="list-group-item">{{#link-to "albums" album.uri}}{{album.artists.0.name}} - {{album.name}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </div>
    {{ in-view action="loadMore" }}
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Tracks</div>
      <ul class="list-group">
        {{#each tracks as |track|}}
          <li class="list-group-item">
           {{#link-to "albums" track.uri}}{{track.artists.0.name}} - {{track.album.name}} - {{track.name}}{{/link-to}}
          </li>
        {{/each}}
      </ul>
    </div>
    {{ in-view action="loadMore" }}
  </div>
</div>
