<form class="form-inline">
  <div class="form-group">
    {{input value=query class="form-control"}}
  </div>
  <button type="submit" class="btn btn-default" {{action "search"}} {{bind-attr disabled="isSearching"}}>Search</button>
</form>

<div class="row">
  <div class="col-md-4">
    <h3>Artists</h3>
    <ul>
      {{#each artist in artists}}
        <li>{{#link-to "artist" artist.uri}}{{artist.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Albums</h3>
    <ul>
      {{#each album in albums}}
        <li>{{#link-to "album" album.uri}}{{album.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="col-md-4">
    <h3>Tracks</h3>
    <ul>
      {{#each track in tracks}}
        <li>{{track.name}}</li>
      {{/each}}
    </ul>
  </div>
</div>
